<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Quora Posts</h1>
    <% for(post of posts){ %>
        <div class="post">
            <h3 class="user">@<%=post.username%>
            </h3>
            <h4 class="content">
                <%= post.content%>
            </h4>
            <div class="options">
                <a href="http://localhost:3000/posts/<%=post.id%>">See in Detail</a>
                <a href="http://localhost:3000/posts/<%=post.id%>/edit">Edit</a>
                <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
                    <button id="del">Delete</button>
                </form>

            </div>

        </div>
        <%}%>

            <br><br>
            <a href="http://localhost:3000/posts/new">Create New Post</a>
</body>

</html>